{% extends "dashboards/dashboards.html" %}

{% block name_dash %}
    <h1> Analytics Dashboards - {{ information['category']|upper }} </h1>
{% endblock %}

{% block dash_info %}
    <h3><center>Classification of customers by sex</center></h3>
    <h4 style="color:rgb(179, 6, 6)"><center>{{ information['total'] }} visitors</center></h4>
    <p>The pie chart shows the gender distribution of visitors.
        Three sectors are generated because sometimes the intelligent camera cannot detect the sex correctly.</p>
    <p>We see how they are distributed in a quasi-equitable way</p>
{% endblock %}

